<stile>
     .container {
        width: 800px;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
    }
</stile>

 span {
     margin: 10px
 }

<div class="container">


    <span>Oi, {{name}}</span>

    <br/>
    <span> Você solucitou alteração de senha</span>
    <span> Para realizar a troca, clique no link
        <a href="{{link}}>{{link}}"></a>
    </span>

    <span>Caso você não tenha solicitado a alteração ignore esse email</span>

    <h3>Equipe  | <strong>Rentx</strong></h3>

</div>
